<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Movie Library </title>

</head>
<body>
    <h1>Current Movie Library</h1>
    <ul>
        {%for title, info in movieBank.items()%}
            <li>
                <strong>{{title}}</strong> <br>
                Director: {{info['director']}} <br>
                Year: {{info['year']}} <br>
                Rating: {{info['rating']}}
            </li>
        {%endfor%}
    </ul>
    <a href ='/'>Back to Main Menu</a>
</body>
</html>