<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Movie</title>
</head>
<body>
    <h1>Update Movie</h1>

    <form method="post">
        <label for="title"> Movie Title: </label>
        <input type="text" name="title" value="{{ title }}" required><br><br>

        <label for="director"> Updated Director: </label>
        <input type="text" name="director" value="{{ director }}" required><br><br>

        <label for="year"> Updated Year: </label>
        <input type="number" name="year" value="{{ year }}" required><br><br>

        <label for="rating"> Updated Rating: </label>
        <input type="number" name="rating" value="{{ rating }}" required><br><br>

        <button type="submit">Update Movie</button>
    </form>

    {% if result %}
        <h2>{{result}}</h2>
    {% endif %}

    <a href ='/'>Back to Main Menu</a>
</body>
</html>